@model Customer
@{
  ViewData["Title"] = "Détails client";
}

<div class="container p-3">
  <div class="row pt-4">
    <div class="col-6">
      <h2 class="text-primary">Détail client</h2>
    </div>
  </div>

  <table class="table table-bordered table-striped" style="width:100%">
    <thead>
      <tr>
        <th>Nom de famille</th>
        <th>Prénom</th>
        <th>Courriel</th>
        <th>Numéro de téléphone</th>
        <th>Budget</th>
        <th>Modifications</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="30%">@Model.Lastname</td>
        <td width="30%">@Model.Firstname</td>
        <td width="30%">@Model.Mail</td>
        <td width="30%">@Model.PhoneNumber</td>
        <td width="30%">@Model.Budget</td>
        <td width="30%">
          <div class="col-6 d-inline-flex align-content-between w-100">
            <a asp-controller="Customer" asp-action="Details" asp-route-Id="@Model.Id" class="btn btn-info d-inline-flex mx-1"><img width="20px" class="mr-1" src="~/images/info-circle-solid.svg" alt="update icon" title="update icon" />Profil</a>
            <a asp-controller="Customer" asp-action="Update" asp-route-Id="@Model.Id" class="btn btn-primary d-inline-flex mx-1"><img width="20px" class="mr-1" src="~/images/edit-solid.svg" alt="update icon" title="update icon" />Modifier</a>
            <a asp-controller="Customer" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger d-inline-flex mx-1"><img width="20px" class="mr-1" src="~/images/trash-solid.svg" alt="delete icon" title="delete icon" />Supprimer</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-success w-35" asp-area="" asp-controller="Customer" asp-action="Index">Retour</a>

</div>
