@model IEnumerable<Customer>

@{
  ViewData["Title"] = "liste des clients";
  string modifType = null;
  if (TempData["modification"] != null) modifType = TempData["modification"].ToString();
  int? modifiedId = null;
  if (TempData["modifiedId"] != null)
  {
    modifiedId = Convert.ToInt32(TempData["modifiedId"]);
  }
}

<div class="container p-3">
  <div class="d-flex justify-content-between mb-3">
    <h2 class="text-primary">Liste des clients</h2>
    <form asp-controller="Customer" asp-action="Index" method="get">
      <label for="search">Recherche</label>
      <input type="text" id="search" name="SearchString" />
      <input type="submit" value="Rechercher" />
    </form>
  </div>

  @if (Model.Count() > 0)
  {
    <table class="table table-bordered table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Id
            <a asp-controller="Customer" asp-action="Index" asp-route-SortOrder="Id" class="ml-2"><img style="width: 15px" class="" src="~/images/sort-descending.svg" alt="sort descending icon" title="sort descending icon" /></a>
          <th>Nom de famille
            <a asp-controller="Customer" asp-action="Index" asp-route-SortOrder="LastName" class="ml-2"><img style="width: 15px" class="" src="~/images/sort-descending.svg" alt="sort descending icon" title="sort descending icon" /></a>
          </th>
          <th>Prénom
            <a asp-controller="Customer" asp-action="Index" asp-route-SortOrder="FirstName" class="ml-2"><img style="width: 15px" class="" src="~/images/sort-descending.svg" alt="sort descending icon" title="sort descending icon" /></a>
          </th>
          <th>Modifications</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var customer in Model)
        {
          string trClass = "";
          if (modifiedId != null && modifiedId == customer.Id)
          {
            if (modifType == "create") trClass = "created-entry";
            else if (modifType == "update") trClass = "updated-entry";
          }
          <tr class="@trClass">
            <td width="20%">@customer.Id</td>
            <td width="20%">@customer.Lastname</td>
            <td width="20%">@customer.Firstname</td>
            <td width="40%">
              <div class="col-6 d-inline-flex align-content-between w-100">
                <a asp-controller="Customer" asp-action="Details" asp-route-Id="@customer.Id" class="btn btn-info d-inline-flex mx-1">Détails</a>
                <a asp-controller="Customer" asp-action="Update" asp-route-Id="@customer.Id" class="btn btn-primary d-inline-flex mx-1"><img style="width: 20px" class="mr-1" src="~/images/edit-solid.svg" alt="update icon" title="update icon" />Modifier</a>
                <a asp-controller="Customer" asp-action="Delete" asp-route-Id="@customer.Id" class="btn btn-danger d-inline-flex mx-1"><img style="width: 20px" class="mr-1" src="~/images/trash-solid.svg" alt="delete icon" title="delete icon" />Supprimer</a>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
    <div>
      <a class="btn btn-primary col-3" asp-area="" asp-controller="Customer" asp-action="Create">Ajouter un nouveau client</a>
    </div>
</div>
@{
  if (modifType != null)
  {
    string action = "";
    if (modifType == "create") action = "créé";
    else if (modifType == "update") action = "modifié";
    else if (modifType == "delete") action = "supprimé";
    <div class="modification-container">
      <div class="modification-details @TempData["modification"]">
        <p>Le cient <strong>@TempData["customerName"]</strong> a bien été @action.</p>
      </div>
    </div>
  }
}
