@model brokerAgenda.Models.ViewModels.BrokerDetailsVM
@{
  ViewData["Title"] = "Détails courtier";
}

<div class="container p-3">
  <div class="row">
    <div class="col-6">
      <h2 class="text-primary mb-3">Détail courtier</h2>
    </div>
  </div>

  <table class="table table-bordered table-striped mb-5" style="width:100%">
    <thead>
      <tr>
        <th>Nom de famille</th>
        <th>Prénom</th>
        <th>Courriel</th>
        <th>Numéro de téléphone</th>
        <th>Modifications</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td width="30%">@Model.Broker.Lastname</td>
        <td width="30%">@Model.Broker.Firstname</td>
        <td width="20%">@Model.Broker.Mail</td>
        <td width="20%">@Model.Broker.PhoneNumber</td>
        <td width="40%">
          <div class="col-6 d-inline-flex align-content-between w-100">
            <a asp-controller="Broker" asp-action="Update" asp-route-Id="@Model.Broker.Id" class="btn btn-primary d-inline-flex mx-1"><img style="width: 20px" class="mr-2" src="~/images/edit-solid.svg" alt="update icon" title="update icon" />Modifier</a>
            <a asp-controller="Broker" asp-action="Delete" asp-route-Id="@Model.Broker.Id" class="btn btn-danger d-inline-flex mx-1"><img style="width: 16px" class="mr-2" src="~/images/trash-solid.svg" alt="delete icon" title="delete icon" />Supprimer</a>
            <a asp-controller="Appointment" asp-action="Create" asp-route-BrokerId="@Model.Broker.Id" class="btn btn-info d-inline-flex mx-1"><img style="width: 18px" class="mr-2" src="~/images/add-appointment.svg" alt="add appointment icon" title="add appointment icon" />RDV</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  @{
    if (Model.AppointmentList.Count() > 0)
    {
      <h4 class="text-primary mb-3">Rendez-vous du courtier</h4>
      <table class="table table-bordered table-striped mb-5" style="width:100%">
        <thead>
          <tr>
            <th>Nom du client</th>
            <th>Date et heure</th>
            <th>Sujet du rendez-vous</th>
          </tr>
        </thead>
        <tbody>
          @{ foreach (Appointment appointment in Model.AppointmentList)
            {
              <tr>
                <td width="30%">@appointment.IdCustomerNavigation.Lastname @appointment.IdCustomerNavigation.Firstname</td>
                <td width="30%">@appointment.DateHour.ToString("dd/MM/yyyy hh:mm")</td>
                <td width="40%">@appointment.Subject</td>
              </tr>
            }
          }
        </tbody>
      </table>
    } else
      {
        <h5>Aucun rendez-vous prévu</h5>
      }
  }

  <div class="form-group row mt-4">
    <a class="btn btn-success col-4 mx-auto" asp-area="" asp-controller="Broker" asp-action="Index">Retour</a>
  </div>

</div>
